body {
  font-family: "Gill Sans", Trebuchet, Verdana, Arial;
}
header .navbar {
  background-color: #231f20;
}
header .navbar .container {
  background: #242021;
  height: 80px;
  min-height: 80px;
}
div.trail-wrapper {
  background-color: #f5b23e;
  border-bottom: 1px solid #f5b23e;
}
.btn-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #711d0c;
  border-color: #711d0c;
  color: #FFFFFF;
}
#main-container #sidebar {
  background-color: #FFF8EC;
}

#file_news_div_news .thumbs>img {
    width:230px;
}

.custom-nav {
    background-color: #f5b23e;
    border-bottom: 1px solid #f5b23e;
    border: 0;
    border-radius: 0;
}

.custom-nav .navbar-nav>li>a {
    color: #000;
}
