/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}

#aspect_authority_scheme_ManageSchemeMain_list_actions td.flex{
    display: flex;

    p{
        padding-left: 5px;
        padding-right: 5px;
    }

    a{
        padding-left: 10px;
        padding-top: 5px;
    }
}

#aspect_authority_concept_ManageConceptMain_list_actions td.flex{
    display: flex;

    p{
        padding-left: 5px;
        padding-right: 5px;
    }

    a{
        padding-left: 10px;
        padding-top: 5px;
    }
}

#aspect_authority_term_ManageTermMain_list_actions td.flex{
    display: flex;

    p{
        padding-left: 5px;
        padding-right: 5px;
    }

    a{
        padding-left: 10px;
        padding-top: 5px;
    }
}